* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #000;
    font-size: 14px;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1100%;
    margin: auto;
}
/* header */
.header {
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0px 0px 0px 13px;
    font-size: 13px;
}
.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-right div {
    margin-right: 20px;
}
#th {
    font-size: 25px;
}
.header-left a {
    margin-right: 20px
}

.user {
  background: rgb(24, 214, 49);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
}
.user a {
    font-size: 20px;
    color: white;
}

/* Search and Logo*/
.search-logo {
    padding-top: 109px;
    text-align: center;
}

.search-container {
    padding-top: 0;
    margin: 13px auto 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    border-radius: 50px;
    max-width: 550px;
    font-size: 20px;
    height: 44px;
    text-align: center;
}

.search-container i {
    margin-top: 12px;
}

.search-container:hover {
    box-shadow: 0 2px 4px 1px #d9d9d9;
}
.search-bar {
    width: 450px;
    border: 0;
}

.search-buttons {
    padding: 18px 0px 0px;
}

.search-buttons input {
    background-color: #f2f2f2;
    border: 0;
    border-radius: 4px;
    color: #5F6368;
    margin: 11px 4px;
    padding: 0px 16px;
    line-height: 27px;
    height: 36px;
}

.search-buttons input:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.footer {
    display: flex;
    color: #5F6368;
    background-color: #f8f8f8;
    border-top: 1px solid rgb(219, 219, 219);
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0px 0px 0px 13px;
    font-size: 14px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer-left a {
    margin-left: 27px;
}
.footer-right a {
    margin-right: 27px;
}
